{% extends 'base.html.twig' %}

{% block title %}Edit UserEntity{% endblock %}

{% block body %}
    <h1>Edit UserEntity</h1>

    {{ include('user_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_entity_index') }}">back to list</a>

    {{ include('user_entity/_delete_form.html.twig') }}
{% endblock %}
