{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    <h1>Edit Group</h1>

    {{ include('user_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-secondary mr-1" href="{{ path('user_group_index') }}">Back to List</a>

    {{ include('user_group/_delete_form.html.twig') }}
{% endblock %}
