{% extends 'base.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Create New Group</h1>

    {{ include('user_group/_form.html.twig') }}

    <a class="btn btn-outline-secondary mr-1" href="{{ path('user_group_index') }}">Back to List</a>
{% endblock %}
